@import "_reset.scss";
@import "_mixins.scss";
@import "_responsive.scss";
@import "_colors.scss";
@import "_headings.scss";

$baseWidth: 1000px;

body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      color: $richblack;
      padding: 20px;

      .wide {
            width: 100%;
            max-width: $baseWidth;
      }

      header {

            h1 {
                  text-align: center;
                  text-transform: uppercase;
                  font-size: 40px;

                  padding: 20px;
                  border-bottom: 2px solid $gray;
                  width: 70%;
                  margin: 0 auto;

                  span.subtitle-lightgray {
                        color: $lightgray;
                  }

                  span.subtitle-red {
                        color: red;
                  }
            }
      }

      main {
            section {
                  width: 100%;
                  min-height: 100px;
                  padding: 20px;
                  margin: 20px 0;

                  border: 1px solid $gray;
                  border-radius: 20px;

                  h2 {
                        width: max-content;
                        padding: 0 10px 5px 0;
                        margin-bottom: 20px;
                        text-transform: uppercase;
                        border-bottom: 1px solid $gray;
                        border-right: 1px solid $gray;
                        border-bottom-right-radius: 10px;

                        cursor: pointer;
                        user-select: none;
                  }

                  form {
                        margin: 20px 0 0 30px;
                        div {
                              padding: 5px 0;

                              display: flex;
                              flex-direction: row;
                              justify-content: left;
                              flex-wrap: wrap;

                              label {
                                    min-width: 100px;
                                    $labelWidth: 15%;
                                    display: inline-block;
                                    width: $labelWidth;
                                    vertical-align: initial;
      
                                    font-size: 20px;
                                    font-weight: bold;
                              }

                              label.small-label {
                                    font-size: 16px;
                                    font-weight: normal;
                              }

                              label:nth-child(1) {
                                    vertical-align: top;
                              }

                              input[type="text"], textarea {
                                    margin: 5px 0;
                                    width: 80%;
                                    font-size: 18px;
                                    padding: 2px 5px;
                              }

                              textarea {
                                    height: 110px;
                                    font-size: 14px;
                                    resize: none;
                              }

                              input[type="datetime"] {
                                    width: 100%;
                                    max-width: 200px;
                                    text-align: center;
                              }

                              input#reminder {
                                    margin-right: 10px;
                              }

                              input[type="submit"] {
                                    padding: 8px 16px;
                                    margin-top: 10px;

                                    background-color: red;
                                    color: white;
                                    border: 1px solid $gray;
                                    border-radius: 10px;
                                    box-shadow: 5px 5px 5px $lightgray;

                                    font-size: 16px;
                                    font-weight: bold;
                                    text-transform: uppercase;

                                    cursor: pointer;
                                    user-select: none;
                                    transition: all .3s;
                              }

                              input[type="submit"]:hover {
                                    transform: scale(1.1);
                                    color: white;
                              }
                        }
                        
                  }

                  ul.tasksList {
                        width: 100%;
                        list-style: none;

                        li.task {
                              margin: 5px 0;
                              padding: 5px;
                              border-radius: 10px;

                              div.row {
                                    width: 100%;
                                    font-size: 18px;
      
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: nowrap;
                                    justify-content: space-between;
      
                                    div.title-cont {
                                          width: 90%;
                                          padding: 5px 10px;
                                    }
      
      
                                    form.actions-form {
                                          display: inline-block;
                                          width: max-content;
                                          height: 100%;
                                          margin: 0;
                                          padding: 2px;
                                          button {
                                                border: none;
                                                background: none;
                                          }
      
                                          i {
                                                font-size: 20px;
                                                margin: 0 5px;
                                                cursor: pointer;
                                          }
      
                                          i.check-btn {
                                                color: $success;
                                          }
                                          i.edit-btn {
                                                color: $return;
                                          }
                                          i.delete-btn {
                                                color: orangered;
                                          }
                                          i.restore-btn {
                                                color: $return;
                                                margin-right: 10px;
                                          }
                                    }
      
                                    .task-comment {
                                          padding: 5px 5px 5px 20px;
                                          font-size: 16px;
                                          color: $gray;
                                    }
      
                                    .task-date {
                                          padding: 5px 10px;
                                          font-size: 16px;
                                          text-align: right;
                                          font-style: italic;
                                          color: $gray;
                                    }
                              }
                        }

                        li.task:nth-child(odd) {
                              background-color: $lightgray;
                        }
                  }

                  ul#archivedList {

                        .task-title, td.task-comment, .task-date {
                              text-decoration: line-through;
                        }
                  }
            }
      }

      .not-displayed {
            display: none;
      }

      .warning {
            color: orangered;
            font-size: 30px;
            margin: 100px auto;
      }
      
      a.return {
            padding: 10px 20px;
            text-decoration: none;
            color: $return;
            font-weight: bold;
            font-size: 20px;
            border: 3px solid $return;
            border-radius: 10px;
      }
      a.return:hover {
            text-decoration: none;
            color: $return;
      }

      .retracted {
            height: 30px;
            overflow: hidden;
            
            *:not(h2) {
                  visibility: hidden;
            }
      }
}
