* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100%;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #020202;
  padding: 20px;
}

body .wide {
  width: 100%;
  max-width: 1000px;
}

body header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  padding: 20px;
  border-bottom: 2px solid #494d4e;
  width: 70%;
  margin: 0 auto;
}

body header h1 span.subtitle-lightgray {
  color: #f2f0f1;
}

body header h1 span.subtitle-red {
  color: red;
}

body main section {
  width: 100%;
  min-height: 100px;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #494d4e;
  border-radius: 20px;
}

body main section h2 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 10px 5px 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #494d4e;
  border-right: 1px solid #494d4e;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body main section form {
  margin: 20px 0 0 30px;
}

body main section form div {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main section form div label {
  min-width: 100px;
  display: inline-block;
  width: 15%;
  vertical-align: initial;
  font-size: 20px;
  font-weight: bold;
}

body main section form div label.small-label {
  font-size: 16px;
  font-weight: normal;
}

body main section form div label:nth-child(1) {
  vertical-align: top;
}

body main section form div input[type="text"], body main section form div textarea {
  margin: 5px 0;
  width: 80%;
  font-size: 18px;
  padding: 2px 5px;
}

body main section form div textarea {
  height: 110px;
  font-size: 14px;
  resize: none;
}

body main section form div input[type="datetime"] {
  width: 100%;
  max-width: 200px;
  text-align: center;
}

body main section form div input#reminder {
  margin-right: 10px;
}

body main section form div input[type="submit"] {
  padding: 8px 16px;
  margin-top: 10px;
  background-color: red;
  color: white;
  border: 1px solid #494d4e;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px #f2f0f1;
          box-shadow: 5px 5px 5px #f2f0f1;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

body main section form div input[type="submit"]:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: white;
}

body main section ul.tasksList {
  width: 100%;
  list-style: none;
}

body main section ul.tasksList li.task {
  margin: 5px 0;
  padding: 5px;
  border-radius: 10px;
}

body main section ul.tasksList li.task div.row {
  width: 100%;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main section ul.tasksList li.task div.row div.title-cont {
  width: 90%;
  padding: 5px 10px;
}

body main section ul.tasksList li.task div.row form.actions-form {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  margin: 0;
  padding: 2px;
}

body main section ul.tasksList li.task div.row form.actions-form button {
  border: none;
  background: none;
}

body main section ul.tasksList li.task div.row form.actions-form i {
  font-size: 20px;
  margin: 0 5px;
  cursor: pointer;
}

body main section ul.tasksList li.task div.row form.actions-form i.check-btn {
  color: #22bb33;
}

body main section ul.tasksList li.task div.row form.actions-form i.edit-btn {
  color: #3498db;
}

body main section ul.tasksList li.task div.row form.actions-form i.delete-btn {
  color: orangered;
}

body main section ul.tasksList li.task div.row form.actions-form i.restore-btn {
  color: #3498db;
  margin-right: 10px;
}

body main section ul.tasksList li.task div.row .task-comment {
  padding: 5px 5px 5px 20px;
  font-size: 16px;
  color: #494d4e;
}

body main section ul.tasksList li.task div.row .task-date {
  padding: 5px 10px;
  font-size: 16px;
  text-align: right;
  font-style: italic;
  color: #494d4e;
}

body main section ul.tasksList li.task:nth-child(odd) {
  background-color: #f2f0f1;
}

body main section ul#archivedList .task-title, body main section ul#archivedList td.task-comment, body main section ul#archivedList .task-date {
  text-decoration: line-through;
}

body .not-displayed {
  display: none;
}

body .warning {
  color: orangered;
  font-size: 30px;
  margin: 100px auto;
}

body a.return {
  padding: 10px 20px;
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
  font-size: 20px;
  border: 3px solid #3498db;
  border-radius: 10px;
}

body a.return:hover {
  text-decoration: none;
  color: #3498db;
}
/*# sourceMappingURL=style.css.map */